
/* TEXT */

h1, h2, h3, h4, h5, h6{
	display: block;
	margin-top: 0px;
	margin-bottom: 10px;
	line-height: 1.5em;
}

h1{
	font-size: 1.8em;
}

h2{
	font-size: 1.4em;
}

h3{
	font-size: 1.2em;
}

h4{
	font-size: 1em;
}

h5{
	font-size: 0.8em;
}

h6{
	font-size: 0.6em;
}

.legend-label{
	font-size: 0.8em;
	color: #888;
}

/* SECTION */

.nav-section{
	width: 100%;
	height: 60px;
	-webkit-overflow-scrolling: none;
	overflow: hidden;
}

.nav-title{
	font-size: 1em;
	text-align: center;
	line-height: 1.8em;
	margin: 16px 0px;
}

.nav-header{

}

.nav-footer{

}

.content-section{
	width: 100%;
	height: 600px;
	overflow-y: scroll;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: .2s, .2s;
  transition-duration: .2s, .2s;
  -webkit-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
}

.content-container{
	margin: 15px 15px;
}

/* TABS */

.nav-tabs{
	margin: 0px;
	padding: 0px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	-webkit-flex-direction: horizontal;
	-moz-flex-direction: horizontal;
	-ms-flex-direction: horizontal;
	flex-direction: horizontal;
}

.tab{
	display: block;
	max-width: 200px;
	height: 100%;
	font-size: 1em;
	line-height: 60px;
	text-overflow: ellipsis;
	text-align: center;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden;
	opacity: 0.6;
}

.tab.active{
	opacity: 1;
}

/* BLOCK */

.block{
	display: block;
	width: auto;
	min-height: 30px;
	margin: 15px 15px;
	overflow: hidden;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 3px 6px #686868;
}

/* ITEM */

.item{
	display: inline-table;
	width: 100%;
	padding: 8px 13px;
}

.block .item-text{
	border-radius: 3px;
}

.block .item-text:first-child{
	border-radius: 3px 3px 0px 0px;
}

.block .item-text:last-child{
	border-radius: 0px 0px 3px 3px;
}

.item-text{
	font-size: 0.9em;
}

.item-separator{
	font-size: 1em;
	font-weight: 800;
	line-height: 1em;
	color: #222;
	background: #eee;
}

.item + .item-separator{
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

.block .item-separator:first-child{
	border-radius: 3px 3px 0px 0px;
	border-bottom: 1px solid #ddd;
}

.block .item-separator:last-child{
	border-radius: 0px 0px 3px 3px;
	border-top: 1px solid #ddd;
}

.item.item-image{
	padding: 0px;
	line-height: 0px;
}

.item.item-image img{
	width: 100%;
	height: auto;
}


/* ICONS */

i.icon:before,
b.icon:before,
u.icon:before,
strong.icon:before,
li.icon:before,
span.icon:before,
div.icon:before,
em.icon:before,
small.icon:before{
	display: inline;
	padding: 5px 12px;
	pointer-events: none;
	content: " ";
	width:25px;
	height:25px;
}

i.icon:before,
b.icon:before,
u.icon:before,
strong.icon:before,
li.icon:before,
span.icon:before,
div.icon:before,
em.icon:before,
small.icon:before{
	display: inline-block;
	margin: 7px;
}

.icon-home:before{
	background: url('mobile-bootstrap-sprites.png') no-repeat no-repeat 0px 0px;
	background: url('mobile-bootstrap-sprites.svg') no-repeat no-repeat 0px 0px;
}

/* BUTTONS */

.btn{
	display: inline-block;
	font-size: 1em;
	font-weight: 200;
	line-height: 38px;
	color: #444;
	background-color: transparent;
	margin: 0;
	padding: 0 12px;
	min-width: 50px;
	min-height: 38px;
	vertical-align: top;
	text-align: center;
	text-overflow: ellipsis;
	cursor: pointer;
	border-radius: 3px;
	position: relative;
	outline: 0;
}

.btn-block.icon:before{
	display: inline;
	margin-right: 4px;
	padding: 2px 12px;
	padding-top: 3px;
	pointer-events: none;
}

.btn-block{
	display: block;
	width: 100%;
	clear: both;
}

/* fix pull text when class icon */
.btn-block.icon-right{
	position: relative;
	text-indent: 10px;
}
.btn-block.icon-right:before{
	position: absolute;
	top: 2px;
	right: 8px;
}
.btn-block.icon-left{
	position: relative;
}
.btn-block.icon-left:before{
	position: absolute;
	top: 2px;
	left: 8px;
}

/* icon on buttons */
.btn.icon:before{
	display: inline;
	padding: 2px 12px;
	pointer-events: none;
	content: " ";
	width:25px;
	height:25px;
}

.btn.btn-default.icon.icon-left:before,
.btn.btn-confirm.icon.icon-left:before,
.btn.btn-accept.icon.icon-left:before,
.btn.btn-wait.icon.icon-left:before,
.btn.btn-warning.icon.icon-left:before{
	float: left;
	display: inline;
	margin-top: 6px;
	margin-right: 4px;
	pointer-events: none;
	content: " ";
	width:25px;
	height:25px;
}

.btn.btn-default.icon.icon-right:before,
.btn.btn-confirm.icon.icon-right:before,
.btn.btn-accept.icon.icon-right:before,
.btn.btn-wait.icon.icon-right:before,
.btn.btn-warning.icon.icon-right:before{
	float: right;
	display: inline;
	margin-top: 6px;
	margin-left: 4px;
	margin-right: 0px;
	pointer-events: none;
	content: " ";
	width:25px;
	height:25px;
}

.btn-default,
.btn-default:hover{
	color: #444;
	background-color: #f2f2f2;
	border: 1px solid #bbb;
}

.btn-default:active, .btn-default.active{
	color: #666;
	background-color: #ccc;
	border: 1px solid #888;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.35);
}

.btn-confirm,
.btn-confirm:hover{
	color: #fff;
	background-color: #2967CA;
	border: 1px solid #1554BA;
}

.btn-confirm:active, .btn-confirm.active{
	color: #f2f2f2;
	background-color: #1554BA;
	border: 1px solid #0F397C;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.35);
}

.btn-accept,
.btn-accept:hover{
	color: #fff;
	background-color: #23C711;
	border: 1px solid #1DB029;
}

.btn-accept:active, .btn-accept.active{
	color: #f2f2f2;
	background-color: #1DB029;
	border: 1px solid #0E7316;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.35);
}

.btn-wait,
.btn-wait:hover{
	color: #fff;
	background-color: #DF9B21;
	border: 1px solid #C28314;
}

.btn-wait:active, .btn-wait.active{
	color: #f2f2f2;
	background-color: #C28314;
	border: 1px solid #885C10;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.35);
}

.btn-warning,
.btn-warning:hover{
	color: #fff;
	background-color: #D34523;
	border: 1px solid #BA3515;
}

.btn-warning:active, .btn-warning.active{
	color: #f2f2f2;
	background-color: #BA3515;
	border: 1px solid #812711;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.35);
}

/* COLORS */

.gray-sky{
	background-color: #f2f2f2;
}

.celestial{
	background-color: #00bcd4;
}

.hot-marge,
.hot-marge a{
	background-color: #D43000;
}

.black-monday,
.black-monday a{
	color: #f3f3f3;
	background-color: #383838;
}

.opacity-1{
	opacity: 0.1;
}
.opacity-2{
	opacity: 0.2;
}
.opacity-3{
	opacity: 0.3;
}
.opacity-4{
	opacity: 0.4;
}
.opacity-5{
	opacity: 0.5;
}
.opacity-6{
	opacity: 0.6;
}


/* RESET */

.nav-section{
	display: table;
  content: " ";
}

.nav-section{
	clear: both;	
}

